<!DOCTYPE html>
<html lang="en">
    
    <head>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- Descriptors -->
        <meta name="description" content="Love is love is love is love is love is love is love is love is love, cannot be killed or swept aside..">
        <meta name="author" content="Zachary Espiritu">
        
        <!-- CSS -->
        <link href="styles.css" rel="stylesheet">
        
        <!-- Social Media Banners -->
        <meta property="og:image" content="" />
        <link rel="image_src" href="" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />

        
<!--
         Favicons 
        <link rel="apple-touch-icon" sizes="57x57" href="favicon.ico/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="favicon.ico/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="favicon.ico/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="favicon.ico/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="favicon.ico/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="favicon.ico/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="favicon.ico/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="favicon.ico/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="favicon.ico/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="favicon.ico/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon.ico/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="favicon.ico/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon.ico/favicon-16x16.png">
        <link rel="manifest" href="favicon.ico/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="favicon.ico/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
-->
    
    </head>
    
    <body>
    <%= render 'github' %>
        
        <div class="background-text">
            Time stops And stands still\ Each day \ Seems like a year\ I'm lost \ And can't be found\ In this darkness\ lay dying\ Cold\ Empty\ And alone\ It holds me down\ And won't let go\ There is no escaping\ it consumes me\ until there's nothing left\ I may look fine\ But on the inside I'm full of death\ Time stops\ And stands still\ Each day \ Seems like a year\ I'm lost \ And can't be found\ In this darkness\ lay dying\ Cold\ Empty\ And alone\ It holds me down\ And won't let go\ There is no escaping\ it consumes me\ until there's nothing left\ I may look fine\ But on the inside I'm full of death\ Time stops\ And stands still\ Each day \ Seems like a year\ I'm lost \ And can't be found\ In this darkness\ lay dying\ Cold\ Empty\ And alone\ It holds me down\ And won't let go\ There is no escaping\ it consumes me\ until there's nothing left\ I may look fine\ But on the inside I'm full of death\ Time stops\ And stands still\ Each day \ Seems like a year\ I'm lost \ And can't be found\ In this darkness\ lay dying\ Cold\ Empty\ And alone\ It holds me down\ And won't let go\ There is no escaping\ it consumes me\ until there's nothing left\ I may look fine\ But on the inside I'm full of death\
 </div>
        <div id="overlay">
            <div id="content">
                Random Link of Negativity:
                <div id="link">
                     <a href='<%= scrape()%>'><%= truncate(scrape()) %></a>
                </div>
            </div>
        </div>
        <div class="footer">
            Made with <span style="font-size: 23px;">&#9785;
</span> by <a href="http://amansawhney.me"> Aman Sawhney. </a>Refresh the page for more depressing shit.
        </div>
        
    </body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

    
</html>
