<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="http://amansawhney.me/img/profile.png">
  <title>LifeIsSadness</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
